body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2431;
}

.player-container {
  display: flex;
  align-items: center;
  padding: 8px; /* Add padding for spacing */
  margin-bottom: 4px; /* Add margin between player lines */
  border-radius: 20px; /* Add rounded corners */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul.sortable-list {
  list-style: none;
  padding: 0;
}

.item {
  cursor: move;
  color: azure;
  /*background-color: #fff;
  border: 1px solid #ccc;*/
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.details {
  flex: 1;
  display: flex;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

span {
  font-weight: bold;
}

.uil-draggabledots {
  font-size: 18px;
  cursor: grab;
}

.uil-draggabledots:active {
  cursor: grabbing;
}

.details span:not(:last-child) {
  margin-right: 8px;
}

/* Set font size for player name */
.player-name {
  font-size: 16px;
}

/* Set fixed height for player information box */
.details {
  height: 80px;
  padding: 8px; /* Add padding to adjust spacing inside the box */
  /* Optionally, you can also set a width for the box */
  width: 700px;
}

.rankr-title {
  text-align: center;
  color: white;
  font-family: Copperplate, Papyrus, fantasy; /* Change the font-family to your desired fun font */
  font-size: 48px; /* Change the font size as needed */
  margin: 20px 0; /* Adjust the margin for spacing */
}

.alpha-header{
color: white;
text-align: center;
font-family: Copperplate, Papyrus, fantasy; /* Change the font-family to your desired fun font */
font-size: 30px; /* Change the font size as needed */
margin: 20px 0; /* Adjust the margin for spacing */
}

#sortableListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uploadExcelInput {
  display: none;
}

.player-container.wr {
  /*box-shadow: 0px 0px 5px 2px rgb(33, 144, 255);*/
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  background-color: #344054;
}

.player-container.qb {
  /*box-shadow: 0px 0px 5px 2px rgb(213, 27, 27);*/
  background-color: #344054;
}

.player-container.rb {
  /*box-shadow: 0px 0px 5px 2px rgb(19, 211, 77);*/
  background-color: #344054;
}

.player-container.te {
  /*box-shadow: 0px 0px 5px 2px rgb(223, 182, 0);*/
  background-color: #344054;
}
  
