body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2431;
}

.player-container {
  display: flex;
  align-items: center;
  padding: 8px; /* Add padding for spacing */
  margin-bottom: 4px; /* Add margin between player lines */
  border-radius: 20px; /* Add rounded corners */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul.sortable-list {
  list-style: none;
  padding: 0;
}

.item {
  cursor: move;
  color: azure;
  /*background-color: #fff;
  border: 1px solid #ccc;*/
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.details {
  flex: 1;
  display: flex;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

span {
  font-weight: bold;
}

.uil-draggabledots {
  font-size: 18px;
  cursor: grab;
}

.uil-draggabledots:active {
  cursor: grabbing;
}

.details span:not(:last-child) {
  margin-right: 8px;
}

/* Set font size for player name */
.player-name {
  font-size: 16px;
}

/* Set fixed height for player information box */
.details {
  height: 80px;
  padding: 8px; /* Add padding to adjust spacing inside the box */
  /* Optionally, you can also set a width for the box */
  width: 700px;
}

.rankr-title {
  text-align: center;
  color: white;
  font-family: Copperplate, Papyrus, fantasy; /* Change the font-family to your desired fun font */
  font-size: 48px; /* Change the font size as needed */
  margin: 20px 0; /* Adjust the margin for spacing */
}

.alpha-header{
color: white;
text-align: center;
font-family: Copperplate, Papyrus, fantasy; /* Change the font-family to your desired fun font */
font-size: 30px; /* Change the font size as needed */
margin: 20px 0; /* Adjust the margin for spacing */
}

#sortableListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uploadExcelInput {
  display: none;
}

.player-container.wr {
  /*box-shadow: 0px 0px 5px 2px rgb(33, 144, 255);*/
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  background-color: #344054;
}

.player-container.qb {
  /*box-shadow: 0px 0px 5px 2px rgb(213, 27, 27);*/
  background-color: #344054;
}

.player-container.rb {
  /*box-shadow: 0px 0px 5px 2px rgb(19, 211, 77);*/
  background-color: #344054;
}

.player-container.te {
  /*box-shadow: 0px 0px 5px 2px rgb(223, 182, 0);*/
  background-color: #344054;
}

.player-container.pk {
  /*box-shadow: 0px 0px 5px 2px rgb(223, 182, 0);*/
  background-color: #344054;
}

.player-container.def {
  /*box-shadow: 0px 0px 5px 2px rgb(223, 182, 0);*/
  background-color: #344054;
}

/* Add styles for the buttons */
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /* Add spacing between buttons */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.position-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.position-button[data-position="All"] {
  background-color: #007bff; /* Change color for "All" button */
}

.position-button:hover {
  background-color: #325ab6;
}

.position-button[data-position="QB"] {
  background-color: #bd2323; /* Change color for "All" button */
}

.position-button[data-position="QB"]:hover {
  background-color: #8a1212; /* Change color for "All" button */
}

.position-button[data-position="RB"] {
  background-color: #1abc4b; /* Change color for "All" button */
}

.position-button[data-position="RB"]:hover {
  background-color: #10773f; /* Change color for "All" button */
}

.position-button[data-position="WR"] {
  background-color: #2f7ae2; /* Change color for "All" button */
}

.position-button[data-position="WR"]:hover {
  background-color: #1647b1; /* Change color for "All" button */
}

.position-button[data-position="TE"] {
  background-color: #ffae58; /* Change color for "All" button */
}

.position-button[data-position="TE"]:hover {
  background-color: #ce7a21; /* Change color for "All" button */
}

.position-button[data-position="PK"] {
  background-color: #bd66ff; /* Change color for "All" button */
}

.position-button[data-position="PK"]:hover {
  background-color: #a642f2; /* Change color for "All" button */
}

.position-button[data-position="DEF"] {
  background-color: #7988a1; /* Change color for "All" button */
}

.position-button[data-position="DEF"]:hover {
  background-color: #647797; /* Change color for "All" button */
}

#exportButton,
#uploadExcelButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#exportButton:hover,
#uploadExcelButton:hover {
  background-color: #0056b3;
}

#uploadExcelInput {
  display: none;
}
  
